<div class="container-fluid">
    <div class="content col-sm-12">
        <div class="row">
            <h1>Entry Manager Users</h1>

        </div>
        <form [formGroup]="joomlaUserFilterForm">
            <div class="row col-sm-12">

                <div class="col-sm-6 form-group row">
                    <label for="filterSearch" class="col-sm-3 col-form-label">Search Users:</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="filterSearch"
                               placeholder="Search Joomla Users" type="text"
                               formControlName="filterSearch"/>
                    </div>
                </div>

                <div class="com-sm-6 form-group row">
                    <div class="btn-group btn-group-toggle" ngbRadioGroup name="filterOption"
                          aria-label="User filter option" formControlName="filterOption">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="'registered7days'">Registered Last 7 Days
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="'unlinked'">Unlinked Users
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="'linked'">Linked Users
                        </label>
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="'allusers'">All Users
                        </label>
                    </div>
                </div>


            </div>

        </form>
        <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
        <div class="row card-group">
            <div class="col-md-4 col-xs-12" *ngFor="let user of users">
            <div class="card mb-3">
                <div class="card-header">
                    <h2 *ngIf="user.mId != null"><fa-icon [icon]="faLink"></fa-icon>&nbsp;Linked</h2>
                    <h2 *ngIf="user.mId == null"><fa-icon [icon]="faUnlink"></fa-icon>&nbsp;Not Linked</h2>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-6 text-right">
                            Username:
                        </dt>
                        <dd class="col-sm-6">
                            {{user.jUsername}}
                        </dd>
                        <dt class="col-sm-6 text-right">
                            Display Name:
                        </dt>
                        <dd class="col-sm-6">
                            {{user.jName}}
                        </dd>
                        <dt class="col-sm-6 text-right">
                            Linked Member:
                        </dt>
                        <dd class="col-sm-6">
                            <span *ngIf="user.mId != null">
                            {{user.mFirstName}} {{user.mSurname}} ({{user.mMsaNumber}})
                            </span>
                        </dd>
                        <dt class="col-sm-6 text-right">
                            Registered:
                        </dt>
                        <dd class="col-sm-6">
                            {{getDate(user.jRegisterDate) | date:'dd/MM/yyyy'}}
                        </dd>
                        <dt class="col-sm-6 text-right">
                            Last Visited:
                        </dt>
                        <dd class="col-sm-6">
                            {{getDate(user.jLastVisitDate) | date:'dd/MM/yyyy'}}
                        </dd>
                    </dl>
                    <div class="row">
                        <button class="btn btn-primary mx-auto" (click)="link_member(user)" routerLink=""
                                *ngIf="user.mId == null">
                            <fa-icon [icon]="faLink"></fa-icon>
                            Link
                        </button>
                        <button class="btn btn-secondary mx-auto" (click)="refresh(user)" routerLink=""
                                *ngIf="user.mId != null">
                            <fa-icon [icon]="faSyncAlt"></fa-icon>
                            Refresh
                        </button>
                        <button class="btn btn-warning mx-auto" (click)="link_member(user)" routerLink=""
                                *ngIf="user.mId != null">
                            <fa-icon [icon]="faUnlink"></fa-icon>
                            Unlink
                        </button>
                        <button class="btn btn-secondary mx-auto" routerLink="joomla-user-edit">
                            <fa-icon [icon]="faEdit"></fa-icon>
                            Edit
                        </button>
                        <button class="btn btn-danger mx-auto" (click)="delete_member(user)" routerLink=""
                                *ngIf="user.mId == null">
                            <fa-icon [icon]="faTrash"></fa-icon>
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
        </div>
    </div>
</div>

<ngx-spinner
        bdColor = "rgba(51, 51, 51, 0.8)"
        size = "medium"
        color = "#fff"
        type = "ball-newton-cradle"
></ngx-spinner>
